<div class="col-lg-12">
<h2>Lista de categorias: </h2>
<a href="/admin/categories/add"><button type="button" class="btn btn-outline-primary" style="margin: 10px 0;">Cadastrar categoria</button></a>
{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{name}}</h4>
            <small>{{slug}}</small>
            <br>
            <small>{{data}}</small>
            <br>
            <br>
            <div class="col-lg-6">
            <a href="/admin/categories/edit/{{_id}}"><button class="btn btn-warning">Editar categoria</button></a>
            </div>
            <div class="col-lg-6">
                <form action="/admin/categories/delete" method="POST">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button class="btn btn-danger mt-2">Deletar categoria</button>
                </form>
            </div>
        </div>
    </div>
{{else}}
   <h4 class="mt-4">Não existe categorias cadastradas.</h4>
{{/each}}
<div style="float:left; clear:both; width:100%; margin: 10px 0 10px 0;"></div>
</div>