<div class="col-lg-12">
    <h1>Postagens da categoria {{categorieName}}</h1>

    {{#each posts}}
        <div class="card mt-4">
            <div class="card body">
                <div class="col-lg-12">
                    <h1>{{title}}</h1>
                    <p>{{content}}</p>
                    <hr>
                    <small>Data: {{date}}</small>
                </div>
            </div>
        </div>
    {{else}}
        <h4>Não foram encontrados posts para essa categoria.</h4>
    {{/each}}
</div>